nav {
  background: #fff;
  padding: 10px;
  /* margin-bottom: -80px; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  display: inline;
}

a {
  color: Green;
  text-decoration: none;
  padding: 10px;
  /* border-radius: 1px; */
  transition: 0.3s ease;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a:hover {
  /* background:-moz-element(25); */
  /* transition: color 0.3s, border-bottom 0.3s; */
  border-bottom: 4px solid green;
  border-top: 4px solid green;

}

.navitem {
  margin-left: 50px;
}