.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.contact-heading {
    text-align: center;
    color: LimeGreen;
    text-emphasis-color: blueviolet;
    /* text-emphasis: filled; */
}

.heading {
    text-align: center;
    text-emphasis-color: blueviolet;
    color: LimeGreen;
    font-size: 50px;
    font-weight: bold;
}

.pstyles {
    text-align: center;
    color: blueviolet;
    color: LimeGreen;
    font-size: 20px;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #04AA6D;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
}