
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px;
    margin-left: -2px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-left:-10px;
    /* margin-bottom: -8px; */
}
